/bow/data/origin/
/bow/data/*.csv
/bow/database/
/bow/cache/
.env
.DS_Store

/word2vector/data/origin/
/word2vector/data/*.csv
/word2vector/database/
/word2vector/cache/
/word2vector/checkpoint/
/word2vector/core

/gensim-word2vector/data/origin/
/gensim-word2vector/data/*.csv
/gensim-word2vector/database/
/gensim-word2vector/cache/
/gensim-word2vector/checkpoint/
/gensim-word2vector/core

/bert/data/origin/
/bert/data/*.csv
/bert/database/
/bert/cache/
/bert/checkpoint/
/bert/core

/word2vector-siamese/data/origin/
/word2vector-siamese/data/*.csv
/word2vector-siamese/database/
/word2vector-siamese/cache/
/word2vector-siamese/checkpoint/
/word2vector-siamese/checkpoint1/
/word2vector-siamese/core
/word2vector-siamese/pre-trained/

train.log
extractor.log