/bow/data/origin/
/bow/data/*.csv
/bow/database/
/bow/cache/
.env
.DS_Store

/word2vector/data/origin/
/word2vector/data/*.csv
/word2vector/database/
/word2vector/cache/
/word2vector/checkpoint/
/word2vector/core

/bert/data/origin/
/bert/data/*.csv
/bert/database/
/bert/cache/
/bert/checkpoint/
/bert/core

train.log
extractor.log