matplotlib>=3.7.5
torch>=2
scikit-learn>=1.5.1
scipy>=1.14.1
pandas>=2.2.2
numpy<1.28.0,>=1.21.6
import-ipynb
seaborn
torchvision
opencv-python
wandb
Flask
captcha
torchinfo
python-dotenv
pymilvus
nltk