name: "验证码识别"
dataset:
  name: "captcha"
  generate: False
  train_total: 10000
  test_total: 1000
  captcha_length: 2
  width: 200
  height: 100
  characters: "0123456789"
  train_dir: "data/train"
  test_dir: "data/test"

model:
  type: "CNN"
  layers: 5
  activation: "relu"

training:
  train_dir: "data/train"
  batch_size: 256
  learning_rate: 0.0001
  epochs: 50
  model_path: "./models/model.pth"

testing:
  test_dir: "data/test"
  model_path: "./models/model.pth"

early_stopping:
  enable: True
  patience: 10
  min_delta: 0.0001